<% include partials/header %>

<h1> Camp escolhido: <%= campground.name %></h1>
<img class="img-fluid" src="<%= campground.imgURL %>">
<p><%= campground.description %></p>

<h3>Comentários</h3>
<% campground.comments.forEach((comment) => { %>
    <p>
        <strong> <%= comment.author %> </strong> - <%= comment.text %>
    </p>
<% }) %>

<% include partials/footer %>