<% include ../partials/header %>

<% let cont = 0 %>
<% campground.comments.forEach((comment) => { %>
<%      cont ++; %>
<% }) %>

<div class="container">
    <div class="row">
        <div class="col-md-3 mt-2">
            <p class="lead">YelpCamp</p>
            <div class="list-group">
                <a href="/campgrounds" class="mb-2 btn btn-outline-primary">Voltar</a>
                <div class="list-group-item active">Category 1</div>
                <div class="list-group-item">Category 2</div>
                <div class="list-group-item">Category 3</div>
            </div>
        </div>
        <div class="col-md-9 mt-2">
            <div class="card">
                <img class="card-img-top" src="<%= campground.imgURL %>">
                <div class="card-body">
                    <div class="d-flex">
                        <h4 class="card-title mr-auto"><a href="#"><%= campground.name %></a></h4>
                        <h5 class="card-title">$9.00/night</h5>
                    </div>
                    <div class="card-text">
                        <p><%= campground.description %></p>
                    </div>
                    <div class="d-flex">
                        <p class="card-text text-danger mr-auto">PLACEHOLDER</p>
                        <% if (cont == 0){ %>
                        <p class="card-text text-danger"> Nenhum review</p>
                        <% } else if (cont == 1) { %>
                        <p class="card-text text-danger"> 1 review</p>
                        <% } else { %>
                        <p class="card-text text-danger"> <%= cont %> reviews</p>
                        <% } %>
                    </div>
                </div>
            </div>

            <!------------------------------------------COMENTÁRIOS------------------------------------------------->
            
            <div class="card bg-light mt-2">
                <a href="/campgrounds/<%= campground._id %>/comments/new" class="btn m-2 mb-0 btn-success">Adicionar
                    Novo
                    Comentário</a>
                <hr class="mt-1">
                <div class="card-body">
                    <h3 class="text-center">Comentários</h1>
                        <% if(campground.comments.length == 0) { %>
                        <hr>
                        <p class="card-text text-center">Ainda não há comentários! Faça um!</p>
                        <% } else { %>
                        <%    campground.comments.forEach((comment) => { %>
                        <hr>
                        <div class="d-flex">
                            <p class="card-title mr-auto"><%= comment.author %></p>
                            <p class="card-title">10 dias atrás</p>
                        </div>
                        <p class="card-text">
                            <%= comment.text %>
                        </p>
                        <% }) %>
                        <% } %>
                </div>
            </div>
        </div>

    </div>
</div>




<% include ../partials/footer %>